
.total{
text-align: center;
font-size: medium;
color: palevioletred;
font-family: 'Times New Roman', Times, serif;
}
.heading{
    text-align: center;
    font-size: medium;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    }